@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to top, #09b54ef3, #37a9b8f3);
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
}

.item {
  
  width: 150px;
  height: 66px;
  border: 1px solid #eee;
  box-shadow: 5px 5px 9px rgba(198, 198, 198, 0.36);
  border-radius: 50px;
  padding: 0.8rem 1rem;
  color: #03e9f4; 
  text-align: center;
  position: relative;
  overflow: hidden;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 150px;
  height: 66px;
}

.start {
  background: linear-gradient(90deg, #ff85e4 0%, #209cff   100%);
}

.progress {
  background: linear-gradient(90deg, #209cff 0%, #68e0cf 100%);
}

.done {
  background: linear-gradient(90deg, #1483b3 0%, #8fd3f4 100%);
}


.hold {
 border: 5px solid #37a9b8f3;
 background: linear-gradient(90deg, #11a9e6 0%, #9d91e4  100%);
}
.hide{
  display:none;
}
.hovered{
  border-top: 3px ;
  width: 150px;
  height: 66px;
  border: 1px solid #eee;
  border-radius: 80px;
}


.item::before {
  content: '';
  position: absolute;
  border: 2px solid rgba(198, 198, 198, 0.313); 
  left: -13px;
  opacity: 0;
  right: -13px;
  top: -13px;
  bottom: -13px;
  border-radius: 50%;
  animation: pulse 2s linear infinite; 
  
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.item::after,
.item::before {
  content: '';
  position: absolute;
  border: 2px solid  rgba(198, 198, 198, 0.36);
  border-width: 10px;
  left: -13px;
  opacity: 0;
  right: -13px;
  top: -13px;
  bottom: -13px;
  border-radius: 80%;
  animation: pulse 1s linear infinite;
}

.item::after {
  animation-delay: 1.25s;
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}